body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* Form  */
.login-logo{
    margin: 50px;
    text-align: center;
}
.login-logo img{
    width: 100px;
}

.form-content{
    background: #ffffff;
    max-width: 420px;
    width: 100%;
    border-top: 5px solid #33b5e5;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
    margin: 50px auto;

}
.form {
  padding: 40px;
}
.form h2 {
    margin: 0 0 20px;
    color: #33b5e5;
    font-size: 24px;
    font-weight: 400;
    line-height: 1;
    text-align: center;
}
.form input {
    outline: none;
    display: block;
    width: 100%;
    border: 1px solid #d9d9d9;
    margin: 0 0 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    font-wieght: 400;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form input:focus {
    border: 1px solid #33b5e5;
    color: #333333;
}
.form button {
    cursor: pointer;
    background: #33b5e5;
    width: 100%;
    border: 0;
    padding: 10px 15px;
    color: #ffffff;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
}
.form button:hover {
    background: #178ab4;
}
.form .cta {
    background: #f2f2f2;
    width: 100%;
    padding: 15px 40px;
    box-sizing: border-box;
    color: #666666;
    font-size: 12px;
    text-align: center;
    margin-top: 30px;
}
.form .cta a {
    color: #333333;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    body{
        padding: 10px;
    }
}


/* Navigation Bar */
.navbar{
    background-color:#33b5e5;
}
.navbar-brand{
    /*background: url(http://res.cloudinary.com/candidbusiness/image/upload/v1455406304/dispute-bills-chicago.png) center / contain no-repeat;*/
    width: 200px;
}
