body{
    margin: auto;
}
/*Navigation bar setting*/
.navbar .navbar-expand-toggle{
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    float: left;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}
.navbar .navbar-breadcrumb{
    margin-left: 0px;
    background-color: transparent;
    padding: 0px;
    float: left;
}
.breadcrumb{
    margin-bottom: 0 !important;
}
.navbar .navbar-breadcrumb li{
    color: #353d47;
}
.navbar .navbar-breadcrumb > li {
    height: 60px;
    line-height: 60px;
    vertical-align: middle;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5em;
}
.navbar .navbar-right-expand-toggle {
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: 0px;
    position: absolute;
    right: 0;
    -moz-transition: all 0.25s linear;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    opacity: 0.75;
}
.navbar .navbar-right-expand-toggle .icon {
    font-size: 1.4em;
}
.navbar .dropdown-menu {
    padding: 0;
    border: 0;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    animation-duration: 0.4s;
    -webkit-animation-duration: 0.4s;
    z-index: -1;
    position: absolute;
}